{% extends 'store/base.html' %}
{% load static %}

<body>


    {% block content %}
    <section class="h-100" style="background-color: #eee;">
        <div class="container h-100 py-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-10">

                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h3 class="fw-normal mb-0 text-black">Carrito de compras</h3>
                        <div>
                            <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!"
                                    class="text-body">price <i class="fas fa-angle-down mt-1"></i></a></p>
                        </div>
                    </div>
                    <hr>


                    {% for item in cart %}

                    {% with articulo=item.product %}

                    <div class="card rounded-3 mb-4" data-product-id="{{ articulo.id }}">
                        <div class="card-body p-4">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="col-md-2 col-lg-2 col-xl-2">
                                    <a href="">
                                        <img src="{{ articulo.imagen.url }}" class="img-fluid rounded-3"
                                            alt="Imagen_Producto">
                                    </a>

                                </div>
                                <div class="col-md-2 col-lg-2 col-xl-3 mb-2 mt-2">
                                    <a class="lead fw-normal mb-2 text-info text-reset text-decoration-none"
                                        href="{{ articulo.get_absolute_url}}">{{ articulo.titulo }}</a>
                                </div>
                                <!-- Actualizar cantidad del articulo -->
                                <div class="col-md-3 col-lg-3 col-xl-2 d-flex mb-2 mr-2">
                                    <p><span class="text-muted">Cantidad: </span>
                                        <select id="select{{ articulo.id }}">

                                            <option value="{{ item.qty }}" selected>{{ item.qty }}</option>

                                            <option value="1">1</option>

                                            <option value="2">2</option>

                                            <option value="3">3</option>

                                            <option value="4">4</option>

                                        </select>
                                    </p>
                                    <a type="button" role="button" class="update-button ml-2"
                                        data-index="{{ articulo.id }}">
                                        <i class="bi bi-arrow-clockwise "></i>
                                    </a>
                                </div>
                                <td>
                                    <div class="col-md-1 col-lg-1 col-xl-1 offset-lg-1 delete-button  mb-2 mt-2"
                                        data-index="{{ articulo.id }}">
                                        <a type="button" role="button">
                                            <i class="bi bi-trash3"></i>
                                        </a>
                                    </div>

                                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                        <h5 class="mb-0">$ {{ articulo.precio }}</h5>
                                    </div>
                            </div>
                        </div>
                    </div>
                    {% endwith %}
                    {% empty %}
                    <p>El carrito se encuentra vacio</p>
                    {% endfor %}


                    <div class="card">
                        <div class="card-body">
                            <div class="card-body d-flex justify-content-between align-items-center">
                                <h4 class="m-0" id="total">Total: ${{ cart.get_total }}</h4>
                                <a href="#" class="btn btn-warning btn-block btn-lg" id="complete-order"> Proceder al pago
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </section>

    <script>
        $(document).on('click', '#complete-order', function (e) {
            e.preventDefault();

            // Obtener el carrito
            var cartItems = [];
            {% for item in cart %}
                var itemName = "{{ item.product.titulo }}";
                var itemQty = "{{ item.qty }}";
                var itemPrice = "{{ item.price }}";
                var itemSKU = "{{ item.product.sku }}";  // Agrega esta línea para obtener el SKU
                var itemInfo = itemQty + "x " + itemName + " (Sku: " + itemSKU + ") - $" + itemPrice;
                cartItems.push(itemInfo);
            {% endfor %}
        
            // Obtener el total del carrito
            var total = "Total: $" + {{ cart.get_total }};
        
            // Construir el mensaje de WhatsApp
            var whatsappMessage = "¡Hola! Quiero comprar estos productos:\n\n";
            whatsappMessage += cartItems.join("\n");
            whatsappMessage += "\n" + total;  // Agrega el total al mensaje
        
            // Número de WhatsApp y mensaje predefinido
            var whatsappLink = "https://wa.me/+527776001153?text=" + encodeURIComponent(whatsappMessage);
        
            // Redirigir a WhatsApp
            window.open(whatsappLink, '_blank');
        })

        //Eliminar articulo del carrito de compras
        $(document).on('click', '.delete-button', function (e) {
            e.preventDefault();

            $.ajax({
                type: 'POST',
                url: '{% url "cart-delete" %}',
                data: {
                    product_id: $(this).data('index'),
                    csrfmiddlewaretoken: "{{csrf_token}}",
                    action: 'post'
                },
                success: function (json) {
                    location.reload()
                    document.getElementById("cart-qty").textContent = json.qty
                    document.getElementById("total").textContent = json.total

                },
                error: function (xhr, errmsg, err) {

                },
            });
        })

        //Actualizar articulo del carrito de compras
        $(document).on('click', ' .update-button', function (e) {
            e.preventDefault();

            var theproductid = $(this).data('index')

            $.ajax({
                type: 'POST',
                url: '{% url "cart-update" %}',
                data: {
                    product_id: $(this).data('index'),
                    product_quantity: $('#select' + theproductid + ' option:selected').text(),
                    csrfmiddlewaretoken: "{{csrf_token}}",
                    action: 'post'
                },
                success: function (json) {
                    location.reload(true)
                    document.getElementById("cart-qty").textContent = json.qty
                    document.getElementById("total").textContent = json.total

                },
                error: function (xhr, errmsg, err) {

                },
            });
        })
    </script>


    {% endblock content %}
</body>