{% extends 'store/base.html' %}
{% load static %}

<body>

    {% block content %}
    <div class="container section">
        <h3 class="mt-4 mb-2">{{ categoria.titulo| capfirst}}</h3>
        <hr>
        <br>

        <!-- Tarjeta de presentacion de articulos -->
        <div class="container mb-5">
            <div class="row gx-5">
                {% for item in articulos %}
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card mb-5"">
                        <img class="card-img-top" src="{{ item.imagen.url }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.titulo|capfirst }}</h5>
                            <a href="{{ item.get_absolute_url }}" class="btn btn-success">Entrar</a>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p>No hay articulos registrados en el sistema</p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock %}

</body>