{% extends 'store/base.html' %}
{% load static %}

<body>

    {% block content %}
    <main class="container section">
        <br>
        <h1>Categorías</h1>
        <hr>
        <br>

        <div class="container">
            <div class="row gx-5">
                {% for info in categorias %}
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card mb-5">
                        <img class="card-img-top" src="{{ info.imagen.url }}" alt="{{ info.titulo }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ info.titulo|capfirst }}</h5>
                            <a href="{{ info.get_absolute_url }}" class="btn btn-success">Entrar</a>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p>No hay categorías registradas en el sistema</p>
                {% endfor %}
            </div>
        </div>
    </main>

    {% endblock %}

</body>