/* Scrollbar */

body::-webkit-scrollbar {
    width: 5px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: rgba(105, 105, 105, 0);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(209, 208, 208, 0.87);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
}

body {
    margin: 0;
    padding: 0;
}



/* Barra de navegacion */
nav {
    background-color: #004d40
}

.logo {
    height: 50px;
    padding-left: 20px;
    margin-top: 6px;
}

/* Carrousel de imagenes principales */
.carousel-item {
    max-height: 500px;
}

.slider-image {
    max-height: 500px;
    object-fit: cover;
}

/* Barra de promociones */

.container-promociones {
    padding: 0;
    background-color: #004d40;
    width: 100%;
}

.nav-link.active {
    background-color: #01241ede !important;
    /* Agrega el color que deseas aquí */
}

/* Estilo general */

.card {
    transition: box-shadow 0.3s;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.boton {
    background-color: #004d40;
    border-color: #004d40;
}

#notificacion-icono {
    height: 20px;
}

#icono {
    height: 50px;
    margin-bottom: 20px;
}

/* Cartas de presentacion */

.card {
    transition: box-shadow 0.3s;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Seccion Iconos de index */
#icono-index {
    height: 80px;
    margin-bottom: 20px;
}


/* Parallax */
#parrallax-imagen-0 {
    background-image: url("../img/Joyeria_taller.jpg");
    height: 500px;
    margin-bottom: 50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 0px;
}

#parrallax-imagen-1 {
    background-image: url("../img/Joyeria_mano_2.jpg");
    height: 500px;
    margin-bottom: 50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 0px;
}

#parrallax-imagen-2 {
    background-image: url("../img/Joyeria_a_mano.jpg");
    height: 500px;
    margin-bottom: 50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 0px;
}

.x {
    margin-right: 0px;
}

.row {
    margin-right: 0px;
}

/* Registro del usuario */
.registration-form {
    margin-bottom: 20px;
    /* Ajusta la cantidad de margen según tus necesidades */
}

.fondo-registro {
    background: linear-gradient(to bottom, #cccccc, #999999);
}